pkgbase = flumi-bin
	pkgdesc = The wayfinder (browser) for Gurted, a "web ecosystem".
	pkgver = 1.0.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/outpoot/gurted
	arch = x86_64
	license = CC BY-NC 4.0
	depends = glibc
	source = https://github.com/outpoot/gurted/releases/download/v1.0.1/Flumi_Linux.tar.gz
	source = flumi-bin.desktop
	sha256sums = 6912cd396d0ff1f8e6e2278f147a86050c3b96011bf6ca0e0f4a1843f3716c26
	sha256sums = e65085bd5504ee003365207ff20547cc0c6b7ff313979fbc25dcd164c4b548f5

pkgname = flumi-bin
