pkgbase = flumi-bin
	pkgdesc = The wayfinder (browser) for Gurted, a "web ecosystem".
	pkgver = 1.0.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/outpoot/gurted
	arch = x86_64
	license = CC BY-NC 4.0
	depends = glibc
	source = https://github.com/Hassunaama/gurted-linux-ci-autobuild/releases/download/infinite/flumi.zip
	source = flumi-bin.desktop
	sha256sums = 69a4beceb93bdfea4833d43d5366844ddbab6c883868ab361a45851a6c745259
	sha256sums = a36f76492d0779302d25cd6770f22385013a1d8cfb3dcaa9fe75060835f3ec60

pkgname = flumi-bin
